/*
  master.css
  Copyright (©) 2018 Lexington High School Photography Club All Rights Reserved.
*/
html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  font-family: "Helvetica Neue", Helvetica, "Bahnschrift", "DIN Alternate", "Libre Franklin", system;
  font-weight: bold;
  margin: 0;

  overflow-x: scroll;
}

/* basic template, common to all pages*/
.top-banner {
  display: inline-block;
  width: 100%;
  background-color: #00a1ff;
  color: white;
  margin-bottom: 10px;
  padding: 10px 0 10px 5px;

  transition: 1s;
}
.top-banner p {
  float: left;
  margin: 0;
  padding: 0;
  width: 90%;
}
.top-banner a {
  text-decoration: none;
  color: #ffeb3b;

  transition: 1s;
}
.top-banner #close {
  text-align: right;
  float: right;
  color: white;
  width: 4%;
  padding-right: 10px;

  transition: 0.5s;
}
.white {
  background-color: white;
  color: black;
}
.slide-up {
  display: none;
}
.nav {
  width: 100%;
  padding: 10px 20px 0 20px;
}
.nav .logo {
  float: left;
}
.nav .logo img {
  height: 20vh;
}
.nav .right {
  height: 20vh;
  display: flex;
  float: left;
  text-align: left;
  align-items: flex-end;
  margin-left: 20px;
}
.nav a {
  transition: 1s;
  text-decoration: none;
  color: #6abab5;
  font-size: 2em;
  padding: 5px;
}
.nav a:hover {
  color: #00a1ff;
}
.nav .menu-btn {
  display: none;
}
.sidenav {
  display: none;
}

footer {
  width: 100%;
  background-color: #f0f0f0;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

footer p {
  padding-left: 1vw;
}

footer a {
  text-decoration: none;
  color: #00a1ff;
  transition: 1s;
}

footer a:hover {
  color: #6abab5;
}

/* Flexbox implementation for document body */
.flex {
  display: flex;
}

@media screen and (max-width: 630px) {
  .nav .right {
    display: none;
  }
  .nav .menu-btn {
    display: flex;
    flex-direction: row-reverse;
    height: 20vh;
    float: right;
    text-align: right;
    vertical-align: middle;
    padding-left: 100px;
  }
  .menu-btn i {
    font-size: 7vh;
    color: #00a1ff;
    transition: 1s;
  }

  .menu-btn i:hover{
    color: #6abab5;
  }

  .sidenav {
    display: inline-block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }

  .sidenav a {
    display: block;
    text-decoration: none;
    color: #00a1ff;
    font-size: 2em;
    padding: 5px 5px 5px 20px;
  }

  .sidenav a:hover {
    color: #6abab5;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}
