/*
  master.css
  Copyright (©) 2018 Lexington High School Photography Club All Rights Reserved.
  Credits to CSS-Tricks, W3Schools, MDN and Stack Overflow for certain components!

  Credits to Lokesh Dakar for Lightbox 2 https://lokeshdhakar.com/projects/lightbox2/
*/

::selection {
  background-color: #ffeb3b;
}
::-moz-selection {
  background-color: #ffeb3b;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, "Bahnschrift", "DIN Alternate", "Libre Franklin", system;
  font-weight: bold;
  letter-spacing: -0.5px;
  margin: 0;
  display: flex;
  flex-direction: column;

  overflow-x: scroll;
}

a {
  color: #00a1ff;
  text-decoration: none;
  transition: color 1s;
}
a:hover {
  color: #6abab5;
}

/* Wrapper for Footer */
.content {
  flex: 1 0 auto;
}

/* basic template, common to all pages*/
.top-banner {
  display: inline-block;
  width: 100%;
  background-color: #00a1ff;
  color: white;
  margin-bottom: 10px;
  padding: 10px 0 10px 0;

  transition: 1s;
}
.top-banner p {
  float: left;
  margin: 0 0 0 5px;
  padding: 0;
  width: 90%;
}
.top-banner a {
  text-decoration: none;
  color: #ffeb3b;

  transition: 1s;
}
.top-banner #close {
  text-align: right;
  float: right;
  color: white;
  width: 4%;
  padding-right: 10px;
  transition: 0.5s;
}
.white {
  background-color: white;
  color: black;
}
.slide-up {
  display: none;
}
.nav {
  width: 100%;
  padding-top: 10px;
  height: 20vh;
}
.nav .logo {
  float: left;
  margin-left: 20px;
}
.nav .logo img {
  height: 20vh;
}
.nav .right {
  height: 20vh;
  display: flex;
  float: left;
  text-align: left;
  align-items: flex-end;
  margin-top: -9px;
  margin-left: 20px;
  padding-bottom: 5px;
  border-bottom: solid 4px #6abab5;
}
.nav a {
  transition: 1s;
  text-decoration: none;
  color: #6abab5;
  font-size: 2em;
  padding: 5px;
}
.nav a:hover {
  color: #00a1ff;
}
.nav .menu-btn {
  display: none;
}
.sidenav {
  display: none;
}

footer {
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  flex: 1 1 auto;
}

.two-col {
  display: flex;
  flex-flow: row nowrap;
}

@keyframes move-to-right {
  from {margin: 0;}
  to {margin-left: 5px;}
}
@keyframes move-to-left {
  from {margin-left: 5px;}
  to {margin: 0}
}
.moveRight {
  animation: move-to-right 1s forwards;
}
.moveLeft {
  animation: move-to-left 1s forwards;
}

.footer p {
  margin: 0px;
  padding: 0px;
}

footer p {
  padding-left: 1vw;
  margin: 10px;
}

footer a {
  text-decoration: none;
  color: #00a1ff;
  transition: 1s;
}

footer a:hover {
  color: #6abab5;
}

/* Flexbox implementation for document body */
.container {
  display: flex;
  width: 100%;
}
.auto {
  flex: auto;
}
.initial {
  flex: initial;
}
.none {
  flex: none;
}
.twocol-container {
  display: flex;
  width: 100%;

  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero-container {
  flex-basis: calc(100% - 30px);
  flex-flow: column wrap;
}
/* Page-specific css */

/* "Under Construction" Webpage */

.under-construction {
  flex-flow: column;
  align-items: center;
}

.under-construction h1 {
  font-size: 7vw;
  color: #6abab5;
}

.under-construction p {
  font-size: 30px;
}

/* Members */
.members {
  justify-content: center;
  padding-top: 30px;
}

.members h1 {
  font-size: 40px;
  border-bottom: solid 2px;
  margin: 0;
  padding-bottom: 5px;
  color: #00a1ff;
}
.member-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 10px;
}
.member-list a {
  flex: 1 1 190px;
  height: 100px;
  border: solid white 1px;
  border-radius: 10px;
  color: white;

  overflow: hidden;

  margin: 5px;
}
.member-list .member-entry {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition: all 0.5s ease;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.member-list .member-entry:hover {
  transform: scale(1.2);
}
.profile-picture {
  height: 30px;
  border: solid white 2px;
  border-radius: 40px;
}

/* Individual Page Declarations*/
#members-julian-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/img/members/julianm/julian-cover.jpg");
}

#members-abhinav-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/img/members/abhinavm/cover.jpg");
}

#members-aadharsh-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/img/members/aadharshp/cover.jpg");
}

/* For Mobile Websites */
@media screen and (max-width: 760px) {
  .nav .right {
    display: none;
  }
  .nav .menu-btn {
    display: flex;
    height: 20vh;
    padding-right: 5vh;
    align-items: center;
    flex-direction: row-reverse;
  }
  .menu-btn i {
    font-size: 7vh;
    color: #00a1ff;
    transition: color 1s;
  }

  .menu-btn i:hover{
    color: #6abab5;
  }

  .sidenav {
    display: inline-block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }

  .sidenav a {
    display: block;
    text-decoration: none;
    color: #00a1ff;
    font-size: 2em;
    padding: 5px 5px 5px 20px;
  }

  .sidenav a:hover {
    color: #6abab5;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Page-specific CSS – For Mobile */

  /* "Under Construction" */
  .under-construction .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .under-construction h1 {
    font-size: 13vw;
  }
  .under-construction i {
    display: none;
  }
  .under-construction {
    font-size: 17px;
  }
}

/* Main Page */
.index {
  flex-basis: 420px;
}
.lb-wrapper {
  flex: 0 1 auto;
  flex-basis: 450px;
}
.lb-wrapper a:hover {
  color: #6abab5;
}
.index img {
  box-shadow: 0 0 10px gray;
}
.about-img {
  box-shadow: 0 0 10px gray;
  flex: 0 1 300px;
  width: 420px;
}
.index li{
  font-size: 20px;
}
.lb-wrapper img {
  width: 100px;
  box-shadow: none;
  transition: 1s;
  margin: 5px;
}
.lb-wrapper img:hover {
  transform: scale(1.1);
}
.index h1 {
  font-size: 45px;
  margin: 4px 0 4px 0;
  color: #00a1ff;
}
.index h2 {
  font-size: 30px;
  border-bottom: solid 2px;
  margin: 0;
  padding-bottom: 5px;
  color: #00a1ff;
}
.index i {
  font-style: normal;
}
.index p {
  font-size: 20px;
}
.ig-hover {
  transition: 1s;
}
.ig-hover:hover {
  color: #00a1ff;
}

/* Member-specific pages */
.member-container {
  flex-flow: column;
}
.member-container .image-banner {
  margin-top: 10px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  height: 500px;
  font-size: 2vw;
  flex: auto;

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  overflow: hidden;

  /*color: rgb(123, 23, 244);*/
  /* text-shadow: 0 0 20px lightgray; */
}
.memcover_julianmarmier {
  background-image: url("/img/members/julianm/julian-cover.jpg");
}
.memcover_aadharshpannirselvam {
  background-image: url('/img/members/aadharshp/cover.jpg');
}
.memcover_abhinavmukherjee {
  background-image: url('/img/members/abhinavm/cover.jpg');
}

.memcover_julianmarmier .nameholder > div {
  background: url("/img/members/julianm/julian-cover.jpg") no-repeat center/400%;
}
.memcover_aadharshpannirselvam .nameholder > div {
  background: url("/img/members/aadharshp/cover.jpg") no-repeat center/750%;
}
.memcover_abhinavmukherjee .nameholder > div {
  background: url('/img/members/abhinavm/cover.jpg') no-repeat center/300%;
}

.image-banner .nameholder {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 100px;
  line-height: 80px;
  vertical-align: middle;
  display: flex;
  flex-flow: column nowrap;
  align-items: center; justify-content: center;
}

.image-banner .nameholder > div {
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: lightgray;
}

.image-banner span {
  line-height: 100px;
}
.memcover_julianmarmier text {
  fill: url(#pattern);
}
.member-container .bioblock {
  background: lightgray;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 20px;
}
.bioblock span {
  color: darkgray;
  font-size: 40px;
  text-align: right;
  margin-right: 10px;
}
.bioblock p {
  margin-left: 10px;
}
.my-lb-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 10px;
}
.my-second-lb-container {
  width: calc(100% - 30px);
  display: flex;
  flex-flow: column wrap;
}
.my-lb-container h1 {
    font-size: 40px;
    border-bottom: solid 2px;
    margin: 0;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #00a1ff;
}
.photolightbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#photolightbox img {
  flex: none;
  margin: 5px;
  height: 250px;
  width: 250px;
  object-fit: cover;
  transition: box-shadow 0.5s;
}
#photolightbox img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.uploadbox__uploading,
.uploadbox__success,
.uploadbox__error {
  display: none;
}

.uploadbox.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.uploadbox.has-advanced-upload .uploadbox__dragndrop {
  display: inline;
}

.uploadbox.is-dragover {
  background-color: grey;
}


@media screen and (max-width: 420px) {
  .index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  .about-container {
    flex-basis: 300px;
  }
  .lb-wrapper {
    flex-basis: 300px;
    justify-content: flex-start;
    flex-flow: column;
  }
  .index-photocontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .index h1 {
    font-size: 30px;
  }
  .index h2 {
    font-size: 20px;
    width: 100%;
  }
  .index p {
    font-size: 15px;
  }
  .index li {
    font-size: 15px;
  }
  .index img {
    width: 300px;
  }
  .lb-wrapper img {
    width: 140px;
  }
}
