<div class="two-col">
  <div class="footer initial">
    <p>questions? contact us!</p>
    <a href="mailto:head@lhsphotoclub.org">head@lhsphotoclub.org</a>
  </div>
  <div class="footer initial">
    <p>sitemap</p>
    <a href="/index.html">home</a>
    <a href="/members.html">members</a>
    <a href="old.lhsphotoclub.org">alumni</a>
    <a href="/resources.html">resources</a>
  </div>
</div>
<p>© 2018 Lexington High School Photography Club. All Original Photos. "Camera" icons used in favicon and logo designed by <a href="https://vecteezy.com">Vecteezy</a>.</p>
