<nav class="nav">
  <div class="logo">
    <img src="img/photo_logo_lower.png" alt="LHS Photo Club" onmouseup="returnHome()">
  </div>
  <div class="right">
    <!-- Regular (Desktop & Tablet) Navbar -->
    <a href="about.html">about</a>
    <a href="members.html">members</a>
    <a href="http://old.lhsphotoclub.org/members">alumni</a>
    <a href="resources.html">resources</a>
  </div>
  <div class="menu-btn">
    <!-- Menu Button for Lightbox -->
    <i class="fas fa-bars" onclick="openNav()"></i>
  </div>
<div class="sidenav" id="sidenav">
  <!-- Phone Navbar -->
  <a href="javascript:void(0)" class="closebtn" onmousedown="closeNav()">✕</a>
  <a href="index.html">home</a>
  <a href="about.html">about</a>
  <a href="members.html">members</a>
  <a href="http://old.lhsphotoclub.org/members">alumni</a>
  <a href="resources.html">resources</a>
</div>
</nav>
